<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
  <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
  <title>WeCode Portal</title> 
  <ul>
    <li><a href="home">Home</a></li>
    <li><a href="/signup">register</a></li>
    <li><a href="list">list</a></li>
    <li><a href="feed">feed</a></li>
  </ul>
</head>

{% block body %}
<h1>My home page</h1>
<body class="background" >
<p>My first paragraph.</p>
{% endblock%}
</body>
</html>