{% extends "base.html" %}
{% block body %}

<table class="w3-table w3-striped">
  <tr>
    <th>firstname</th>
    <th>lastname</th>
    <th>username</th>
    <th>hometown</th>
    <th>email</th>
    <th>personal website link</th>
  </tr>

  {% for person in allusers %}
  <tr>
    <td>{{person.firstname}}</td>
    <td>{{person.lastname}}</td>
    <td>{{person.username}}</td>
    <td>{{person.homwtown}}</td>
    <td>{{person.email}}</td>
    <td>{{person.personalwebsitelink}}</td>

  </tr>
  {% endfor %}
</table>

{% endblock %}