{% extends "base.html" %}

{% block body %}
{% if error == True %}
	<h1> already in use</h1>

{% endif %}	
<style type="text/css">
.input1{
	margin: 5px;
	margin-left: 526px;
	padding-top: 10px;
	margin-top: 10px;
}
</style>
	<h1 style = "margin-left:555px;color:white;">REGISTER</h1>
	<form action = "/register" method="POST">
		
		
		<input class = "input1" type="text" name="firstname" placeholder="First Name" required><br>

		<input type="text" class = "input1" name="lastname" placeholder ="Last Name" required><br>
		
		<input type="text" class = "input1" name="username" placeholder = "Username" required><br>
		
		<input class = "input1" type="text" name="hometown" placeholder = "Home Town" required><br>
		
		<input type="email" class = "input1" name="email" placeholder = "Email" required><br>
		
		<input type="link" name="personalwebsitelink" class = "input1" placeholder = "Personal Website Link" required><br>
		

		<input type="link" name="password" placeholder = "Password" class = "input1" required><br>

		<input style="margin-left:526px;width:238px;" type="submit" value="submit">
	</form>


{{taken}}


{% endblock %}